<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PortalDeFluxoEntities" connectionString="metadata=res://*/Core.Modelo.PortalDeFluxo.csdl|res://*/Core.Modelo.PortalDeFluxo.ssdl|res://*/Core.Modelo.PortalDeFluxo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PI;initial catalog=PortalDeFluxo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BancoDados" connectionString="metadata=res://*/Modelo.BancoDados.csdl|res://*/Modelo.BancoDados.ssdl|res://*/Modelo.BancoDados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PI;initial catalog=FluxosRaizen;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>